@model GSP.Models.Domain.ServiceContract

<!-- Header for both pages -->
<div id="header-image" >
    <img src="~/img/header1.png" alt="Header Image" />
</div>

<div class="container mt-0  card">
    <div class="card-header printDiv"><button type="button" class="btn btn-secondary btn-print-contract" id="btnPrintContent"><i class="fa fa-print"></i> Print</button></div>
    <div class="card-body mt-1" id="printArea">
        <!----------- FIRST PAGE  --------->
        @* <img src ="~/img/header1.png" class="img-fluid" class="text-center" /> *@
        
        <p class="text-center mb-5">SERVICE CONTRACT FOR GMC VEHICLE (PAGE 1/2)</p>
        
        <div class="row">
            <table class="table table-borderless" id="contractDetailsTable">
                <tbody>
                    <tr>
                        <td class="label-en">Contract Reference:</td>
                        <td class="text-center">@Model.Reference</td>
                        <td class="label-ar text-end">رقم العقد:</td>
                    </tr>
                    <tr>
                        <td class="label-en">Customer:</td>
                        <td class="text-center">@ViewBag.CustomerName</td>
                        <td class="label-ar text-end">العميل:</td>
                    </tr>
                    <tr>
                        <td class="label-en">TELEPHONE NO & ADRESS:</td>
                        <td class="text-center">Tel: @ViewBag.CustomerPhone (<small> @ViewBag.CustomerAddress </small>)</td>
                        <td class="label-ar text-end">رقم الهاتف و العنوان:</td>
                    </tr>
                    <tr>
                        <td class="label-en">VEHICLE TYPE:</td>
                        <td class="text-center">@Model.VehicleCaption</td>
                        <td class="label-ar text-end"> نوع المركبة:</td>
                    </tr>
                    <tr>
                        <td class="label-en">MODEL YEAR:</td>
                        <td class="text-center">@Model.ModelYear</td>
                        <td class="label-ar text-end">سنة الصنع:</td>
                    </tr>
                    <tr>
                        <td class="label-en">VIN NO:</td>
                        <td class="text-center">@Model.VinNumber</td>
                        <td class="label-ar text-end"> رقم القاعدة:</td>
                    </tr>
                    <tr>
                        <td class="label-en">REGISTRATION NO:</td>
                        <td class="text-center">@Model.RegistrationNumber</td>
                        <td class="label-ar text-end">رقم اللوحة:</td>
                    </tr>
                    <tr>
                        <td class="label-en">DELIVERY DATE:</td>
                        <td class="text-center">@Model.DeliveryDate.ToString("dd-MM-yyyy")</td>
                        <td class="label-ar text-end">  تاريخ التسليم:</td>
                    </tr>
                    <tr>
                        <td class="label-en">CONTRACT SUBJECT:</td>
                        <td class="text-center">"SERVICE PACKAGE FROM @Model.StartMileage TO @Model.EndMileage (TOTAL OF @Model.TotalCost.ToString("F2") KD)"</td>
                        <td class="label-ar text-end"> موضوع العقد:</td>
                    </tr>
                    <tr>
                        <td class="label-en">CONTRACT DURATION:</td>
                        <td class="text-center">@Model.ContractDuration YEARS</td>
                        <td class="label-ar text-end"> مدة العقد:</td>
                    </tr>
                    <tr>
                        <td class="label-en">CONTRACT START DATE:</td>
                        <td class="text-center">@Model.StartDate.ToString("dd-MM-yyyy")</td>
                        <td class="label-ar text-end">تاريخ بداية العقد:</td>
                    </tr>
                    <tr>
                        <td class="label-en">CONTRACT EXPIRY DATE:</td>
                        <td class="text-center">@Model.ExpiryDate.ToString("dd-MM-yyyy")</td>
                        <td class="label-ar text-end">تاريخ انتهاء العقد:</td>
                    </tr>
                </tbody>
            </table>
        </div>
       
        <div class="row mt-5">
            <div class="col-6">
                <p class="text-justify">
                    TO <strong>@Model.VehicleCaption.ToUpper() </strong> OWNER<BR />
                    CONGRATULATIONS ON ACQUIRING YOUR NEW GMC VEHICLE.<BR />
                    THE PERIODIC PREVENTIVE MAINTENANCE FOR YOUR <strong>@Model.VehicleCaption.ToUpper() </strong>
                    IS ESSENTIAL TO PROVIDE THE HIGHEST SAFETY WORKING LEVELS AND TO INCREASE THE ENGINE LIFE, 
                    ALSO TO DECREASE THE POSSIBLILITY OF SUDDEN MALFUNCTIONS TO THE LOWEST LEVEL POSSIBLE.<BR/>
                    FOR YOUR CONVENIENCE, WE BRING YOU A PREVENTIVE MAINTENANCE SERVICE PROGRAM FOR YOUR  <strong>@Model.VehicleCaption.ToUpper() </strong>.<br/>
                    BASED ON THE STANDARDS SET BY THE FACTORY, THIS PROGRAM WILL GIVE YOU THE CHANCE TO HAVE A CLOSE KNOWLEDGE OF THE HIGH STANDARDS OF 
                    MAINTENANCE AT THE CERTIFIED GMC BEHBEHANI WORKSHOP AND QUICK SERVICE CENTER, TO ASSURE YOU A SMOOTH, CONFORTABLE AND SAFE DRIVING EXPERIENCE.
                </p>
                <p>
                    THANK YOU FOR ALLOWING US TO BE OF SERVICE.<br/>
                    Regards
                </p>
            </div>
            <div class="col-6 text-end">
                <p dir="rtl" class="text-justify">
                    <span class="label-ar ">السيد مالك مركبة<strong> @Model.VehicleCaption.ToUpper()</strong></span><br />
                    الصيانة الوقائية الدورية لمركبة <strong> @Model.VehicleCaption.ToUpper()</strong> ضرورية لتأمين أفضل معايير التشغيل الآمن و من أجل إطالة عمر المركبة و تخفيض نسبة الأعطال الطارئة لأدنى مستوياتها.<br/>
                    و حرصا منا على راحتكم ، فإننا نقدم لكم برنامجا خاصا بكافة خدمات الصيانة الدورية الوقائية وفقا لمقاييس الجودة المعتمدة من المصنع.<br/>
                    و هذا سيتيح لكم التعرف عن قرب على المستويات المتقدمة للأعمال في مراكز الصيانة و الخدمة السريعة المعتمدة لمركبات جي ام سي بهبهاني، مما يضمن لكم الاستمتاع بقيادة سلسة و مريحة.<br/>
                    <p >
                    لكم منا الشكر  الجزيل على منحنا هذه الفرصة لخدمتكم.<br/>
                    مع أطيب التحيات
                    </p>
                </p>

            </div>
        </div>
        <div class="row mt-3 ">
            <table class="table table-borderless" id="contractDetailsSignature">
                <tbody>
                    <tr>
                        <th class="label-en">THE MANAGEMENT</th>
                        <td width="60%"  class="text-center"></td>
                        <th class="label-ar text-end">الإدارة</th>
                    </tr>
                    <tr>
                        <th class="label-en">SALES MANAGER</th>
                        <td width="60%" class="text-center">NIDHAL SALEM</</td>
                        <th class="label-ar text-end">مديــر المبيعــات</th>
                    </tr>
                    <tr>
                        <th class="label-en">  VEHICLE OWNER </th>
                        <td width="60%"  class="text-center"></</td>
                        <th class="label-ar text-end">مـــالك المركــبة</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="footer-image">
            <img src="~/img/footer1.png" alt="Footer Image" />
        </div>
        <div style="page-break-after: always;"></div>

        <!----------- SECOND PAGE  --------->
       
        <p class="text-center mb-5 mt-1">SERVICE CONTRACT FOR GMC VEHICLE (PAGE 2/2)</p>
        <div class="row">
            <table class="table table-borderless" id="contractDetailsTable">
                <tbody>
                    <tr>
                        <td class="label-en">Contract Reference:</td>
                        <td class="text-center"><strong>@Model.Reference</strong></td>
                        <td class="label-ar text-end">رقم العقد:</td>
                    </tr>
                    <tr>
                        <td class="label-en">Customer:</td>
                        <td class="text-center"><strong>@ViewBag.CustomerName</strong></td>
                        <td class="label-ar text-end">العميل:</td>
                    </tr>
                    <tr>
                        <td class="label-en">TELEPHONE NO & ADRESS:</td>
                        <td class="text-center"><strong>@ViewBag.CustomerPhone (<small> @ViewBag.CustomerAddress </small>)</strong></td>
                        <td class="label-ar text-end">رقم الهاتف و العنوان:</td>
                    </tr>
                    <tr>
                        <td class="label-en">VEHICLE TYPE:</td>
                        <td class="text-center"><strong>@Model.VehicleCaption</strong></td>
                        <td class="label-ar text-end"> نوع المركبة:</td>
                    </tr>
                    <tr>
                        <td class="label-en">MODEL YEAR:</td>
                        <td class="text-center"><strong>@Model.ModelYear</strong></td>
                        <td class="label-ar text-end">سنة الصنع:</td>
                    </tr>
                    <tr>
                        <td class="label-en">VIN NO:</td>
                        <td class="text-center"><strong>@Model.VinNumber</strong></td>
                        <td class="label-ar text-end"> رقم القاعدة:</td>
                    </tr>
                    <tr>
                        <td class="label-en">REGISTRATION NO:</td>
                        <td class="text-center"><strong>@Model.RegistrationNumber</strong></td>
                        <td class="label-ar text-end">رقم اللوحة:</td>
                    </tr>
                    <tr>
                        <td class="label-en">DELIVERY DATE:</td>
                        <td class="text-center"><strong>@Model.DeliveryDate.ToString("dd-MM-yyyy")</strong></td>
                        <td class="label-ar text-end">  تاريخ التسليم:</td>
                    </tr>
                    <tr>
                        <td class="label-en">CONTRACT SUBJECT:</td>
                        <td class="text-center"><strong>SERVICE PACKAGE FROM @Model.StartMileage TO @Model.EndMileage (TOTAL OF @Model.TotalCost.ToString("F2") KD)</strong></td>
                        <td class="label-ar text-end"> موضوع العقد:</td>
                    </tr>
                    <tr>
                        <td class="label-en">CONTRACT DURATION:</td>
                        <td class="text-center"><strong>@Model.ContractDuration YEARS</strong></td>
                        <td class="label-ar text-end"> مدة العقد:</td>
                    </tr>
                    <tr>
                        <td class="label-en">CONTRACT START DATE:</td>
                        <td class="text-center"><strong>@Model.StartDate.ToString("dd-MM-yyyy")</strong></td>
                        <td class="label-ar text-end">تاريخ بداية العقد:</td>
                    </tr>
                    <tr>
                        <td class="label-en">CONTRACT EXPIRY DATE:</td>
                        <td class="text-center"><strong>@Model.ExpiryDate.ToString("dd-MM-yyyy")</strong></td>
                        <td class="label-ar text-end">تاريخ انتهاء العقد:</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h5><u>Service Contract Parts</u></h5>
        <div class="row mt-3 mb-5">
            <table class="table" id="contractDetailsSignature">
                <thead>
                    <tr>
                        <th>Part Number</th>
                        <th>Part Name</th>
                        <th class="text-end">Unit Cost</th>
                        <th class="text-center">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Parts.Count > 0)
                    {
                        foreach (var part in Model.Parts)
                        {
                            <tr>
                                <td>@part.Part.PartNumber</td>
                                <td>@part.Part.PartName</td>
                                <td class="text-end">@part.UnitCost KD</td>
                                <td class="text-center">@part.Qty</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">**** NO PARTS IN THIS SERVICE CONTRACT ****</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="row mt-5">
            <table class="table table-borderless" >
                <tbody>
                    <tr>
                        <th >THE ADMINISTRATION</th>
                        <td width="60%" class="text-center"></td>
                        <th class="label-ar text-end">الإدارة</th>
                    </tr>
                    <tr>
                        <th class="label-en">SALES MANAGER</th>
                        <td width="60%" class="text-center">NIDHAL SALEM</</td>
                        <th class="label-ar text-end">مديــر المبيعــات</th>
                    </tr>
                    <tr>
                        <th class="label-en">  VEHICLE OWNER </th>
                        <td width="60%" class="text-center"></</td>
                        <th class="label-ar text-end">مـــالك المركــبة</th>
                    </tr>
                </tbody>
            </table>
        </div>
        @* <div class="text-center"><img src="~/img/footer1.png" class="img-fluid"  /></div> *@
        @* <div id="footer-image">
            <img src="~/img/footer1.png" alt="Footer Image" />
        </div> *@

    </div>

 </div>
<!-- Footer for both pages -->
<div id="footer-image">
    <img src="~/img/footer1.png" alt="Footer Image" />
</div>





