@model List<GSP.Models.Domain.ServiceContract>
@{

}

<div class="container-fluid py-3">
    @if (Model.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Contr. Ref</th>
                    <th>Vehicle</th>
                    <th>Variant</th>
                    <th>Year</th>
                    <th>VIN</th>
                    <th>Registration</th>
                    <th>Sale Date</th>
                    <th>From Mil.</th>
                    <th>To Mil</th>
                    <th>Duration</th>
                    <th>Start Date</th>
                    <th>Exp. Date</th>
                    <th>Added On</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contract in Model)
                {
                    <tr>
                        <td>@contract.Customer.CustomerName</td>
                        <td>@contract.Reference </td>
                        <td>@contract.VehicleCaption</td>
                        <td>@contract.VehicleVariant</td>
                        <td>@contract.ModelYear</td>
                        <td>@contract.VinNumber</td>
                        <td>@contract.RegistrationNumber</td>
                        <td>@contract.DeliveryDate</td>
                        <td>@contract.StartMileage</td>
                        <td>@contract.EndMileage</td>
                        <td>@contract.ContractDuration yrs</td>
                        <td>@contract.StartDate.ToString("dd-MM-yyyy")</td>
                        <td>@contract.ExpiryDate.ToString("dd-MM-yyyy")</td>
                        <td>@contract.AddedOn.ToString("dd-MM-yyyy - H:s:m")</td>
                    </tr>
                
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-danger"><i class="fa fa-exclamation-triangle"></i> No service contracts found for this user's daily reports.</p>
    }
</div>