
@model List<GSP.Models.Domain.VehicleType>


@{
    ViewData["Title"] = "Vehicle Types";
}


<div class="container py-3">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
   

    @if (Model != null && Model.Any())
    {
        <div id="printSection">
            <table class="table table-bordered" id="vehicleTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th> Type Name</th>
                        <th> Vehicle</th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th>Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehType in Model)
                    {
                        <tr>
                            <td>@vehType.Id</td>
                            <td>@vehType.Name</td>
                            <td>@vehType.Vehicle.Name</td>
                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@vehType.Id">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@vehType.Id">Delete</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <p> No Vehicle Types Found</p>
    }
</div>
